<%- include("./in/index.ejs") %>
<div class="container">
<h1>Add your new movie</h1>
<form action="/register2" method="POST">
<div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" name="username" placeholder="username">
</div>
<div class="mb-3">
    <label class="form-label">Comment</label>
    <input type="password" class="form-control" name="password" placeholder="password">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
<a href="showmovie/main.ejs">Go back</a>
</form>
</div>

<%- include("./in/footer.ejs") %>