<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="/st/login.css">
        <title></title>
    </head>
<body>
<form action="/register" method="POST" enctype='multipart/form-data'>
    <main class="login-wrapper">
        <form action ="/register" method ="POST" enctype="multipart/form-data">
            <div class="login-left">
                <img src="https://www.fortressofsolitude.co.za/wp-content/uploads/2014/02/marvel-characters.jpg">
                <div class="h1">Click to regiter</div>
            </div>
            <div class="login-right">
                <div class="flash">
                    <% if(error && error.length>0){ %>
                        <div class= 'alert alert-danger' role = 'alert'>
                          <%=  error %>
                        </div>
                      <% } %>
                      <% if(success && success.length>0){ %>
                        <div class= 'alert alert-success' role = 'alert'>
                          <%=  success %>
                        </div>
                      <% } %>
                </div>
                <div class="h2">Regiter</div>
                <div class="from-group">
                    <input type="text" id="username" class="form-control" name="username" placeholder="username">
                    <label for="username">username</label>

                </div>
                <div class="from-group">
                    <input type="password" id="password" class="form-control" name = "password" placeholder="password">
                    <label for="Password">Password</label>

                </div>
                <div class="from-group">
                    <input type="text" id="Name" class="form-control" name="Name" placeholder="Firstname & Lastname ">
                    <label for="Name">Name</label>

                </div>
                <div class="from-group">
                    <input type="email" id="email" class="form-control" name="email" placeholder="email">
                    <label for="email">Email</label>

                </div>
                <div class="from-group">
                    <input type="file" id="profileImage" class="form-control" name="profileImage" accept="image/*">
                    <label for="profileImage">Profile image</label>

                </div>
                <!--<div class="from-group">
                    <input type="text" id="adminCode" class="form-control" name = "adminCode" placeholder="type admin Code here">
                    <label for="Password">Admin Code</label>

                </div>-->
                <!--<div class="checkbox-container">
                    <input type="checkbox">
                    <div class="text-chekbox">
                        I agree with the terms of service
                    </div>
                </div> -->
                <div class="button-area">
                    <a href="/login" class="btn btn-secondary">Login</a>
                    <button  type="submit" class="btn btn-primary">Sign Up</button>
                    
                </div>
                <a href="/showmovie" class="btn btn-goback">goback</a>
                


            </div>
        </form>

    </main>
    <script>
        let openLoginRight = document.querySelector('.h1');
        let loginWrapper = document.querySelector(".login-wrapper");

        openLoginRight.addEventListener('click',function()
        {
            loginWrapper.classList.toggle('open');
        });
    </script>


    
</form>
</body>
</html>